<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database" value="MySQL" />
  </appSettings>

  <connectionStrings>
    <!--<add name="SQLServerConn" connectionString="Data Source=localhost\SqlServer2013; Database=tg; User ID=satg; Password=Sql2013" providerName="System.Data.SqlClient"/>-->
    <add name="MySQLConn" connectionString="Server=localhost; Database=apresentacao_; Uid=root; Pwd=mysql"  providerName=""/>
  </connectionStrings>
</configuration>