@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="bs-home">
    <div class="jumbotron">
        <h1>Apresentação</h1>
        <p>Home de apresentação</p>
    </div>
</div>

